.lista{
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2{
        margin-bottom: 10px;
        text-align: center;
        font-size: 24px;
        color: #333;
    }

     input[type="text"]{
            margin-left: 10px;
            padding: 5px;
            font-size: 16px;
        }

        p{
            margin-top: 10px;
            font-size: 18px;
            color: #555;
        }

        button{
            margin-left: 10px;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
        }

        div{
            margin-top: 20px;
            width: 300px;
            text-align: left;

            ul{
                list-style-type: none;
                padding: 0;

                li{
                    padding: 5px 0;
                    border-bottom: 1px solid #19eb35;
                    margin-bottom: 15px;

                    .remover{
                        margin-left: 15px;
                        padding: 2px 6px;
                        font-size: 14px;
                        color: #fff;
                        background-color: #e74c3c;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
        }
}