header{
    background-color: #063083;
    padding: 20px;
   

    li{
        display: inline;
        margin-right: 15px;
        list-style: none;
        
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;

            &.ativo { 
                color: rgb(13, 202, 38);
                font-weight: bold;
            }

        }

        a:hover{
            text-decoration: underline;
        
        }
    }
}